<?xml version="1.0"?>
<config>
	<modules>
		<Fishbowlprizes_Fishbowl>
			<version>1.0.0</version>
		</Fishbowlprizes_Fishbowl>
	</modules>
	<global>
		<blocks>
			<fishbowl_adminhtml>
				<class>Fishbowlprizes_Fishbowl_Block_Adminhtml</class>
			</fishbowl_adminhtml>
		</blocks>
		<helpers>
			<fishbowl>
				<class>Fishbowlprizes_Fishbowl_Helper</class>
			</fishbowl>
		</helpers>
	</global>
	<frontend>
		<layout>
            <updates>
                <fishbowl>
                    <file>fishbowl.xml</file>
				</fishbowl>
			</updates>
		</layout>
	</frontend>
	<admin>
        <routers>
            <adminhtml>
                <args>
					<modules>
                        <fishbowl after="Mage_Adminhtml">Fishbowlprizes_Fishbowl_Adminhtml</fishbowl>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<fishbowl>
					<file>fishbowl.xml</file>
				</fishbowl>
			</updates>
		</layout>
	</adminhtml>
</config>